<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCD_Timer_1216.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4226EE71E03CD7100D9F8F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4226F001E03CD7100D9F8F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4226F0B1E03CD7100D9F8F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
